@model Dictionary<string, string>

<form id="cybersourceForm" method="post" action="https://testsecureacceptance.cybersource.com/pay">
    @foreach (var parameter in Model)
    {
        <input type="hidden" id="@parameter.Key" name="@parameter.Key" value="@parameter.Value" />
    }
    
        <input type="submit" id="submit" value="Submit" />
    
</form>

<script>
     // document.getElementById("cybersourceForm").submit();
</script>



